microk8s.yaml

#  Local .terraform directories
**/.terraform/*
backend.tf
*pem
external_ip

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Demo files
*.json
.terraform.lock.hcl
vault-demo.json
vault.txt
private_key.pem
*.backup

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

