microk8s.yaml

#  Local .terraform directories
**/.terraform/*
backend.tf
*pem

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Demo files
vault-demo.json
vault.txt
private_key.pem

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

